#colordiv{
    background-color: rgb(0,0,0);
    width: 100px;
    height: 100px;
    display: table-cell;
}
#waardes{
    display: table-cell;
    padding: 10px;
}
input{
    display: table-cell;
}
#box{
    display: table-row;
    border: solid 5px black;
}